<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PiScope</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/cyrillic-ext.css') }}" rel='stylesheet' type='text/css'> 
    <link href="{{ url_for('static', filename='css/latin-ext.css') }}" rel='stylesheet' type='text/css'>
    
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />

    <!-- Plugin CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
	
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/creative.css') }}" />
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">PiScope</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#pigen">Pi Generation</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#">Pi Detection</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>PiScope</h1>
                <hr>
                <p>The main objective of the project is to decrease the complexity of the
apparatus required for analyzing the signals. Ultimately it should be a single product which offers complete package.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">From "Generation" of electronic signals such as Sinusiodal, triangular to the Detection and analysis of electronic signals and their parameters.</p>
                    <a href="#ins" class="btn btn-default btn-xl page-scroll">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
	
	
		<aside class="bg-dark" id="ins">
			<div class="container text-left" >
				<div class="call-to-action">
					<h2 class="container text-center">Instructions for Pi Generation</h2>				
					<p><b>Modes</b></p>
					<p><b>1. Ethernet Mode</b></p>
					<p>a. In ethernet mode, the raspberry pi is connected
					to a LAN network via a Router<br>
					b. Pi is assigned a static IP "192.168.0.99" (For Router Only)<br>
					c. Power on Raspberry Pi.<br>
					d. Open your browser and type 192.168.0.99, press enter.<br>
					e. You should see the PiScope website, if not, check the steps or contact the Developer.<br></p>
					<p><b>2. HotSpot Mode</b></p>
					<p>a. In HotSpot mode, the raspberry pi is connected
					to a Mobile device via the device's HotSpot Configuration<br>
					b. Wifi Hotspot Configuration: (Create using the following credentials)<br>
						*HotSpot SSID (name): PiScope<br>
						*HotSpot Key_Mgmt   : WPA (WPA1)<br>
						*HotSpot password   : 9738134205<br>
					c. Pi is assigned to a static IP "192.168.43.51" (*Usually)<br>
					d. Power on Raspberry Pi.<br>
					e. Open your browser and type IP, press enter.<br>
					f. You should see the PiScope website, if not continue the guide.<br>
					g. Download <a href = "https://play.google.com/store/apps/details?id=com.etustudio.android.hotspotmanager&hl=en">WiFi hotspot Manager</a> from Playstore.<br>
					h. In clients tab , copy the IP Address and repeat from step e <br></p>
					
				</div>
			</div>
		</aside>
	

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
					<a class="page-scroll" href="#pigen"><i class="fa fa-4x fa-heartbeat wow bounceIn text-primary"></i></a>
                        <h3>Pi Generation</h3>
                        <p class="text-muted">Generation of spectrally pure Sine / Square Wave.</p>
                    </div>
                </div>
				
				<div class="col-lg-6 col-md-6 text-center" >
                    <div class="service-box">
					<a class="page-scroll" href="#page-top"> <i class="fa fa-4x fa-stethoscope wow bounceIn text-primary" ></i> </a>
                        <h3>Pi Detection</h3>
                        <p class="text-muted">Detection and analysis of Signals and their Parameters</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ url_for('static', filename='img/portfolio/1.jpg') }}" class="img-responsive" alt="">
						
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PiScope
                                </div>
                                <div class="project-name">
                                    Pi Generation
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{{ url_for('static', filename='img/portfolio/2.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PiScope
                                </div>
                                <div class="project-name">
                                    Pi Detection
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
               
                
               
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>PiScope v2.0.1 for Pi Detection</h2>
                <a href="{{ url_for('static', filename='PiScope_v2.0.1.jar') }}" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>
<section  class="bg-primary" id="pigen">
	<div class="container">
        <div class="row col-md-4 col-md-offset-4">
			<h1>Pi Generation</h1><br>
			<form action="/my_form_post" method="POST">
				<div class="form-group">
					<label for="usr">Frequency: </label>
					<input type="number" class="form-control" name="usr"><br>				
				<input type="radio" name="val" value="hz" checked>Hz (Hertz)<br>
				<input type="radio" name="val" value="khz">KHz (Kilo Hertz)<br>
				<input type="radio" name="val" value="mhz" >MHz (Mega Hertz)<br><br>				
				<input type="submit" name="submit" class="btn btn-default" value="Generate!" /> &nbsp &nbsp &nbsp
				<input type="submit" name="submit" class="btn btn-default" value="Reset" />
				</div>
			</form>
			<div class="flashes">
			  {% for message in get_flashed_messages() %}
				{{ message }}
			  {% endfor %}
			</div>
		</div>
	</div>
</section>

    <aside class="bg-dark" id="piscope-controls">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 style="padding-top:50px">PiScope Controls</h2>
				<form action="/piscope_controls" method="POST">
				<input class="btn btn-default btn-xl wow tada" type="submit" name="submit" value="Reboot"> &nbsp &nbsp &nbsp
				<input class="btn btn-default btn-xl wow tada" type="submit" name="submit" value="Shutdown"><br><br><br>				
				</form>
				<div class="flashes">
			  {% for message in get_flashed_messages() %}
				{{ message }}
			  {% endfor %}
			</div>
			<p style="padding-top:50px; padding-bottom:-25px">*Caution: You will not be able to access the website unless Raspberry Pi is turned on!!</p>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Liked it? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+919738134205</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">kingspprathyush@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
	
	
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#page-top" style="color:black; font-size:13px;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 700; padding-bottom:25px">BETA v1.1.1</a>
	</div>
            

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>

</body>

</html>
